/* Fade in animation */

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Header and body formatting */

body {
  background-color: #191919;
  animation: 0.1s ease-out 0s 1 fadein;
}

/* Mobile header */

.header {
  background-color: #191919;
  height: 10vh;
}

.headertxt {
  color: #cecece;

  font-family: 'order_order_rounded', Helvetica;
  font-size: 8vw;
}

/* Desktop header */

@media (min-width: 576px) {
  .header {
    height: 8vh;
  }
  .headertxt {
    font-size: 4vh;
  }
}

/* Div formatting*/

.web, .py, .game {
  /* background */
  background-color: #8c8c8c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border and height*/
  border: 5px solid #191919;
  height: 30vh;
  /* animation */
  transition: 0.5s;
}

@media (min-width: 576px) {
  .web, .py, .game {
    height: 92vh;
  }
}

/* Grayscale hover effects */

.web:hover~.py {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.web:hover~.game {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.py:hover~.game {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.grayscale {
  filter: grayscale(100%);
}

/* Mobile backgrounds */

.web {
  background-image: url("../images/backgrounds/webMobile.jpg");
}

.py {
  background-image: url("../images/backgrounds/py.jpg");
}

.game {
  background-image: url("../images/backgrounds/game.jpg");
}

/* Desktop backgrounds */

@media (min-width: 576px) {
  .web {
    background-image: url("../images/backgrounds/web.jpg");
  }
  .py {
    background-image: url("../images/backgrounds/py.jpg");
  }

  .game {
    background-image: url("../images/backgrounds/game.jpg");
  }
}

/* Button enlargement animations */

.web img, .py img, .game img {
  width: 13vh;
  padding-bottom: 1vh;

  align-self: flex-end;
  transition: 0.3s;
}

.web:hover img, .py:hover img, .game:hover img {
  width: 15vh;
}

/* Desktop */

@media (min-width: 576px) and (max-width: 992px) {
  .web img, .py img, .game img {
    width: 60%;
    padding-bottom: 5vh;
  }
  .web:hover img, .py:hover img, .game:hover img {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .web img, .py img, .game img {
    width: 50%;
    padding-bottom: 5vh;
  }
  .web:hover img, .py:hover img, .game:hover img {
    width: 60%;
  }
}
