/* Fade in animation */

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Header and body formatting */

body {
  background-color: #191919;
  animation: 1.6s ease-out 0s 1 fadein;
}

.header {
  background-color: #191919;
  height: 8vh;
}

.headertxt {
  color: #cecece;
  font-family: 'order_order_rounded', Helvetica;
  font-size: 4vh;
}

/* Div formatting*/

.web, .py, .game {
  /* background */
  background-color: #8c8c8c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border and height*/
  border: 5px solid #191919;
  height: 92vh;
  /* animation */
  transition: 0.5s;
}

/* Grayscale hover effects */
.web:hover ~ .py {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.web:hover ~ .game {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.py:hover ~ .game {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.grayscale {
  filter: grayscale(100%);
}

/* Borders and backgrounds of each div */

.web {
  background-image: url("../images/backgrounds/web.jpg");
  /* border-right: 2px solid #191919; */
}

.py {
  background-image: url("../images/backgrounds/py.jpg");
  /* border-left: 3px solid #191919; */
  /* border-right: 3px solid #191919; */
}

.game {
  background-image: url("../images/backgrounds/game.jpg");
  /* border-left: 2px solid #191919; */
}

/* Button enlargement animations */

.web img, .py img, .game img {
  align-self: flex-end;
  padding-bottom: 5vh;
  transition: 0.3s;
}

@media screen and (max-width: 576px) {
  .web img, .py img, .game img {
    width: 40%;
  }
  .web:hover img, .py:hover img, .game:hover img {
    width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .web img, .py img, .game img {
    width: 60%;
  }
  .web:hover img, .py:hover img, .game:hover img {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .web img, .py img, .game img {
    width: 50%;
  }
  .web:hover img, .py:hover img, .game:hover img {
    width: 60%;
  }
}
