/* Fade in animation */

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Header and body formatting */

body {
  background-color: #191919;
  animation: 1.6s ease-out 0s 1 fadein;
}

.header {
  background-color: #191919;
  height: 8vh;
}

.headertxt {
  color: #cecece;
  font-family: 'order_order_rounded', Helvetica;
  font-size: 4vh;
}

/* Grayscale animations and height of divs */

.web, .py, .game {
  /* background */
  background-color: #8c8c8c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border and height*/
  border: 5px solid #333333;
  height: 92vh;
  /* filter for animation */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  /* animation */
  transition: 0.5s;
}

.web:hover, .py:hover, .game:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* Borders and backgrounds of each div */

.web {
  background-image: url("../images/backgrounds/web.jpg");
  border-right: 2px solid #333;
}

.py {
  background-image: url("../images/backgrounds/web.jpg");
  border-left: 3px solid #333;
  border-right: 3px solid #333;
}

.game {
  background-image: url("../images/backgrounds/web.jpg");
  border-left: 2px solid #333;
}

/* Button enlargement animations */

.web img, .py img, .game img {
  width: 75%;
  transition: 0.3s;
}

.web:hover img, .py:hover img, .game:hover img {
  width: 80%;
}
